<settings>
	<pluginGroups>
		<pluginGroup>com.enactor</pluginGroup>
	</pluginGroups>
	<servers>
		<server>
			<id>remote-repos</id>
			<username>[USER_NAME]</username>
			<password>[PASSWORD]</password>
		</server>
		<server>
			<id>central</id>
			<username>[USER_NAME]</username>
			<password>[PASSWORD]</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>[USER_NAME]</username>
			<password>[PASSWORD]</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>artifactory</id>
			<repositories>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>libs-release</name>
					<url>https://dev.enactor.co.uk/artifactory/libs-release</url>
				</repository>
				<repository>
					<snapshots />
					<id>snapshots</id>
					<name>libs-snapshot</name>
					<url> https://dev.enactor.co.uk/artifactory/libs-snapshot</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>jcenter</id>
					<name>jcenter</name>
					<url>http://jcenter.bintray.com</url>
				</repository>
				<repository>
					<snapshots />
					<id>remote-repos</id>
					<url>https://dev.enactor.co.uk/artifactory/remote-repos</url>
					<name>remote-repos</name>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>jcenter</id>
					<name>jcenter</name>
					<url>http://jcenter.bintray.com</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>plugins-release</name>
					<url>
						https://dev.enactor.co.uk/artifactory/plugins-release
					</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots />
					<id>snapshots</id>
					<name>plugins-snapshot</name>
					<url>
						https://dev.enactor.co.uk/artifactory/plugins-snapshot
					</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>artifactory</activeProfile>
	</activeProfiles>
</settings>
